body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#navigation {
  top: 0;
  height: 42px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin: 0 8px;
  padding: 10px 20px;
  color: #11c453;
  font-weight: 500;
  text-decoration: none;
  border-bottom: #11c453 1px solid;
}
.nav-item:hover {
  background-color: #11c453;
  color: white;
}

/* Footer */
:root {
  --footer-color: rgb(206, 206, 206);
  --footer-text: #4f4f4f;
  --footer-links: #4f4f4f;
}
footer {
  position: absolute;
  bottom: 0;
  color: #4f4f4f;
  background-color: var(--footer-color);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}
footer a,
footer a:visited,
footer a:active,
footer a:hover {
  color: var(--footer-links);
}

.footer-contact span {
  margin-left: 4rem;
}

.w-95 {
  width: 95%;
}

.justify-left {
  justify-content: flex-end;
}

.justify-around {
  justify-content: space-around;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

/* Styles for the blogs index view */

#all-blogs {
  margin-top: 3rem;
}
.blogs-list {
  list-style: none;
  padding: 0.5rem;
  margin: 0;
}

#all-blogs h3 {
  margin: 0;
}

.blog-item {
  margin: 1rem auto;
}
.blog-item span {
  margin: 0;
  padding: 0;
  margin-right: 2rem;
}

/* Styles for the Contact page */

.contact-methods {
  padding: 2rem;
}
.contact-method-item a,
.contact-method-item a:visited,
.contact-method-item a:active,
.contact-method-item a:hover {
  color: var(--link-color);
}

.margin-top-30 {
  margin-top: 5rem;
}
